VITE_AUTH_API_BASE_URL=http://127.0.0.1:8000
VITE_AUTH_REGISTER_PATH=/api/auth/register/
VITE_AUTH_LOGIN_PATH=/api/auth/login/
VITE_AUTH_ME_PATH=/api/auth/profile/
VITE_AUTH_REFRESH_PATH=/api/auth/token/refresh/